.header {
  border: 1px solid #ececec;

  &-address {
    margin-left: auto;
    display: flex;
  }

  &-contacts {
    display: flex;
    align-items: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $subtitle-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;

  &-blue {
    color: $accent-color;
  }

  .navigation & {
    margin-right: 93px;
  }
}

.navigation {
  display: flex;
  padding: 24px 0px;
}

.navigation-list {
  display: flex;
  align-items: center;

  &-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.active {
  color: $accent-color;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -31px;
    background-color: $accent-color;
    border-radius: 4px;
  }
}

.icon {
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts:hover &,
  .header-contacts:hover & {
    fill: $accent-color;
  }
}
